
    table {
        border-spacing: 0;
        text-align: center ;
        background-color: #E4E4E4;
    }

    th {
        color: white;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#CACACA), to(#969696));
        background-image: -webkit-linear-gradient(top, #CACACA, #969696);
        background-image: -o-linear-gradient(top, #CACACA, #969696);
        background-image: linear-gradient(to bottom,#CACACA, #969696);
        background-image: -moz-linear-gradient(top, #CACACA, #969696);
        background-repeat: repeat-x;
        border-color: #CACACA #CACACA #969696;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        background-color: silver;
    }

    tbody tr td {
        border-bottom: 1px solid black;
        vertical-align: middle !important;
    }

    .centered-div
    {
        margin: 0 auto;
    }
    .left-th
    {border-top-left-radius: 10px;}

    .logged-in-show
    {
        background: #585858; 
        color: white; 
        font-size: 16px; 
        margin-bottom: 0px !important;
    }

    .right-th
    {
        text-align:center !important; 
        border-top-right-radius: 10px;
    }

    .seperator-div
    {
        clear:both;
        width:100%;
        display:block;
        margin:10px;
        padding:10px; 
        margin-top: 180px;
    }

    #amount 
    {
        float: left;
        margin-right: 5px;
        max-width: 50px;
        height: 50px;
        text-align: center;
    }

    .incbutton {
        float:left;
        margin-right:2px;
    }

    .error {
    color: #B94A48;
    border-color: #B94A48;
    }

    .highlight
    {
      background: #fbf8e9;
      -o-transition: all 0.1s ease-in-out;
      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;
      -ms-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out;     
    } 

    #removeitem a {
        display:block;
        width:20%;
        margin:0 auto;
        text-align:center;
    }

    #customer-select {
        text-align: center;
        float: left;
        padding:0;
        display:block;
        margin-left:10px;
        margin-right:20px;
    }

    #POS-user-selection
    {
        float:left;
    }

    #featured-products-wrapper {
        float: left;
        min-width: 20%;
        background-image: none;
        color: #CECACA;
        background-color: #929292;
    }

    .feature-coming-soon
    {
        background:#333;
    }
    
    #cartoverview
    {
    }

    .actions {
        display:none;
    }

    .cart_totals {
        display: none;
    }

    .shipping_calculator {
        display:none;
    }

    .checkout-button {
        display:none;
    }

    .chckout {
        background: #2375CE;
        float: right;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
        color: white;
        font-weight: bold;
        border-color: #0C54D5;
        font-size: 14px;
        margin: 20px;
        border-radius: 5px;
        border-left:1px black solid;
    }
    
        
    .featured-item
    {
        float:left;
        margin:2px;
   
    }
    
    #BC-POS-Checkout
    {
        float:right;
    }
    
    #total
    {
        float:left;
        padding-left: 10px;
        padding-top: 20px;
        font-size: 20px;
    }

    #loading
    {   
        position: absolute !important;
        top: 0px !important;
        left: 0px !important;
        width: 98% !important;
        height: 98% !important;
        background: rgba(51, 51, 51, 0.85) !important;
        color: white !important;
        vertical-align: middle !important;
        padding-top: 50% !important;
        padding-left: 48% !important;
    }

    #main-wrapper 
    {
        height: 768px;
        width: 1024px;
        margin: 0 auto;
    }

    #empty-cart {
        background-color: silver;
        border-radius: 10px;
        width: 30%;
        margin: 0 auto;
        text-align: center;
        vertical-align: middle;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: white;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#CACACA), to(#969696));
        background-image: -webkit-linear-gradient(top, #CACACA, #969696);
        background-image: -o-linear-gradient(top, #CACACA, #969696);
        background-image: linear-gradient(to bottom,#CACACA, #969696);
        background-image: -moz-linear-gradient(top, #CACACA, #969696);
        background-repeat: repeat-x;
        border-color: #CACACA #CACACA #969696;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    }

    #empty-cart-wrapper {
        background: whiteSmoke;
        padding: 10px;
    }

    #search-wrapper {
        float: left;
    }

    #checkout-wrapper {
        float:left;
    }

    #total-view {
        margin: 5px;
        background: black;
        color: greenYellow;
        padding: 5px;
        text-align: right;
        border-radius: 10px;
        padding-toP: 10px;
        border: 2px solid #F1F1F1;
        max-height:20px;
    }

    h2
    {
        text-align:center;
    }

    #plus-buttons 
    {
        float: left;
    }

    #featured-products {
        max-height: 90px;
        overflow: auto;
    }

    .head-wrapper {
        background-color: silver;
        padding: 5px;
        height: 159px !important;
        width: 245px;
        text-align: center;
        vertical-align: middle;
        padding-top: 10px;
        padding-bottom: 10px;
        color: white;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        border-right: 1px #9E9E9E solid;
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#CACACA), to(#969696));
        background-image: -webkit-linear-gradient(top, #CACACA, #969696);
        background-image: -o-linear-gradient(top, #CACACA, #969696);
        background-image: linear-gradient(to bottom,#CACACA, #969696);
        background-image: -moz-linear-gradient(top, #CACACA, #969696);
        background-repeat: repeat-x;
        border-color: #CACACA #CACACA #969696;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    }

    #POS-header{
        background-color: silver;
    }