
    table {
        border-spacing: 0;
        width:100%;
        text-align: center ;
    }

    th {
        background-color:red;
        padding:5px;
        border:1px solid black;
    }

    tbody tr td {
        border: 1px solid black;
    }

    #amount {
    float: left;
    margin-right: 5px;
    }

    .incbutton {
        float:left;
        margin-right:2px;
    }

    .error {
    color: #B94A48;
    border-color: #B94A48;
    }

    .highlight
    {
      background: #fbf8e9;
      -o-transition: all 0.1s ease-in-out;
      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;
      -ms-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out;     
    } 

    #removeitem a {
        display:block;
        width:20%;
        margin:0 auto;
        text-align:center;
    }

    #customer-select {
        margin:0 auto;
        text-align: center;
        padding:0;
        display:block;
    }

    .actions {
        display:none;
    }

    .cart_totals {
        display: none;
    }

    .shipping_calculator {
        display:none;
    }

    .checkout-button {
        display:none;
    }

    .chckout {
        background: #2375CE;
        float: right;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
        color: white;
        font-weight: bold;
        border-color: #0C54D5;
        font-size: 14px;
        margin: 20px;
        border-radius: 5px;
    }
    
        
    .featured-item
    {
        float:left;
        margin:2px;
   
    }